/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.toptal-social-share-buttons-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 20px!important;
  margin-top: 20px!important;
  padding: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.toptal-share-btn {
  flex: 1;
  text-align: center;
  margin: 0 8px 0 0;
}

.toptal-share-btn i {
  margin: auto;
}

.toptal-btn-small {
  height: 28px;
}

.toptal-btn-small i {
  font-size: 12px;
}

.toptal-btn-medium {
  height: 38px;
}

.toptal-btn-small i {
  font-size: 16px;
}

.toptal-btn-large {
  height: 48px;
}

.toptal-btn-large i {
  font-size: 18px;
}

.toptal-facebook {
  background: #3b5998;
}

.toptal-twitter {
  background: #00aced;
}

.toptal-google-plus {
  background: #dd4b39;
}

.toptal-pinterest {
  background: #cb2027;
}

.toptal-linkedin {
  background: #007bb6;
}

.toptal-whatsapp {
  background: #64D448;
}

.toptal-share-btn a {
  text-decoration: none !important;
  box-shadow: none !important;
  outline: none !important;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.toptal-share-btn a:hover,
.toptal-share-btn a:focus {
  color: #e4e4e4 !important;
}

/* Floating left buttons */

.toptal-left-float {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 99;
}

.toptal-left-float .toptal-social-share-buttons-wrapper,
.toptal-left-float .toptal-share-btn {
  display: block;
  width: 20px;
}

.toptal-left-float .toptal-share-btn {
  margin-bottom: 8px;
}

.toptal-left-float .toptal-share-btn i {
  font-size: 12px;
}

/* Inside Featured Image */
.toptal-image-wrap {
  position: relative;
}

.toptal-image-wrap .toptal-social-share-buttons-wrapper {
  position: absolute;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  bottom: 8px;
  left: 8px;
  width: 50%;
  justify-content: flex-start;
}

.toptal-image-wrap .toptal-social-share-buttons-wrapper .toptal-share-btn {
  max-width: 60px;
}

/* Media Queries */
@media screen and (min-width:500px) {
  .toptal-left-float .toptal-social-share-buttons-wrapper,
  .toptal-left-float .toptal-share-btn {
    width: 35px
  }

  .toptal-left-float .toptal-share-btn i {
    font-size: 13px;
  }
}

@media screen and (min-width:900px) {
  .toptal-left-float .toptal-social-share-buttons-wrapper,
  .toptal-left-float .toptal-share-btn {
    width: 50px
  }

  .toptal-left-float .toptal-share-btn i {
    font-size: 16px;
  }
}
